
{% load react %}


<div class="news_item">
    <h2 class="news_item_header">
        {{ displayable.title }}
    </h2>
    <div class="news_item_stats">
        {{ displayable.publish|timesince }} ago
    </div>
    <div class="news_item_reactions">
        {% reactions displayable %}
    </div>
    <br class="clear" />
    <div class="news_item_content well well-sm">
        {{ content }}
    </div>
</div>


