
<div class='page_controls'>
    <div>
        {% if news.has_previous %}
            <a href="{% url 'news_all' page=news.previous_page_number %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-left"></span> previous</a>
        {% endif %}
    </div>
    <div class='current_page'>
        <span>
            page {{ news.number }} of {{ news.paginator.num_pages }}
        </span>
    </div>
    <div>
        {% if news.has_next %}
            <a href="{% url 'news_all' page=news.next_page_number %}" class="btn btn-default btn-xs">next <span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </div>
</div>

        
