
{% extends BASE_TEMPLATE %}

{% load ext %}


{% block title %}
    {{ page.title }}
	{{ TITLE_SEPARATOR }}
	{{ block.super }}
{% endblock title %}

{% block content %}
    
    <div id="statix">
	    {{ content }}
	</div>
    
    <ul>
    {% for attachment in page.attachments.all %}
        <li>
            <a href="{{ attachment.get_absolute_url }}" class="btn btn-default btn-xs" download>
                <span class="glyphicon glyphicon-save"></span>
            </a>
            <a href="{{ attachment.get_absolute_url }}" download>{{ attachment }}</a>
            ({{ attachment.file.size }})
        </li>
    {% endfor %}
    </ul>
    
{% endblock content %}


